<div class="container">
  <% if !flash[:alert].nil? %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

<h2 class="text-center">맛집 정보 보기</h2>
<div class="row">
  <div class="cod-md-1">
  </div>
  <div class="col-md-5 text-right">
    <img class="img-rounded" src="<%= @post.image_url(:medium) %>">
  </div>
  <div class="col-md-5">
    <h3>+ <%= @post.title %></h3>
    <p><span class="label label-warning"><%= @post.category %></span></p>
    <p><%= @post.content %></p>
    <p><a href="/foods/edit/<%= @post.id %>">수정</a> | <a href="/foods/delete_complete/<%= @post.id %>">삭제</a> || <a href="/">전체 리스트 가기</a></p>
    <hr />
    <% @post.comments.each do |comment| %>
      <p><strong><%= comment.user.username %></strong> <%= comment.content %> | <a href="/foods/delete_comment_complete/<%= comment.id %>">삭제</a></p>
    <% end %>
    <form class="text-left" action="/foods/write_comment_complete" method="post">
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <% if !@comment_writer.nil? %>
        <p><strong><%= @comment_writer.username %></strong> <input type="text" name="comment_content" placeholder="댓글 내용을 입력하세요."> <input type="submit" value="달기"></p>
      <% end %>
    </form>
  </div>
  <div class="col-md-1">
  </div>
</div>
</div>
